<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3iwpweKnQP97i1X1G1FTGM4_ZF3obLJo</string>
	<key>GCM_SENDER_ID</key>
	<string>113213160525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensesTracker</string>
	<key>PROJECT_ID</key>
	<string>expenses-tracker-f104f</string>
	<key>STORAGE_BUCKET</key>
	<string>expenses-tracker-f104f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113213160525:ios:9b75a5a06da615d3f67004</string>
</dict>
</plist>